<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>웹소켓테스트</title>
</head>
<body>
  <h1>웹소켓 테스트</h1>
  <textarea rows="5" cols="30" name="code"></textarea>
  <button onclick="">실행</button>
  <div id="result"></div>
</body>
</html>